<h1>Paintr</h1>

<div class="box selected"></div>

<div class="controls">

  <input type="color" id="color" value="#ffffff" autofocus>
  <button id="add_color">Add color</button>
  <button id="clear_palette">Clear palette</button><br>
  <input type="url" id="bg" placeholder="Background URL">
  <button id="add_bg">Add background</button>

  <div id="colors"></div>
</div>

<div id="canvas">
</div>