
.box {
  display: inline-block;
  margin: 10px 5px;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  cursor: pointer;
}

#canvas {
  font-size: 0;
  background-size: cover;
}

.pixel {
  display: inline-block;
  margin: 0;
  width: 10px;
  height: 10px;
  border: 1px solid black;
}

