<h1>Hello world</h1>

4 + 3

<br>

<%= 4 + 3 %>

@groucho

<br>

<%= @groucho %>

<br>

<img src="<%= @kitten %>">

<br>

The result is: <% 4 + 3 %><!-- non echoing embedded ruby -->

<% if @debug_mode %>
  <h1>DEBUG MODE IS ON! GOOD LUCK BUDDY!</h1>
<% else %>
  <h1>Nothing unusual</h1>
<% end %>

<% 5.times do %>
  <h2>goldfish</h2>
<% end %>




