<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HTML5 Form Inputs Examples</title>
  <link rel="stylesheet" href="css/forms.css">
</head>
<body>

  <div class="container">
    <h1>HTML5 Form Inputs Examples</h1>
    <%= yield %>
  </div>

</body>
</html>