.container {
  max-width: 960px;
  margin: auto;
  padding: 1em;
}

header h1 {
  color: green;
}

article {
  width: 79%; /* relative width */
  display: inline-block;
}

aside {
  width: 19%;
  display: inline-block;
  vertical-align: top;
}

.outer {
  width: 50%;
  margin: auto;
  background-color: #ccc;
  padding: 15px;
  border-radius: 10px;
}

.inner {
  background-color: #aaa;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.outer:hover .inner {
  background-color: #ddd;
  color: black;
}
