<h2>My Thoughts About Everything</h2>

<div class="post">
  <h2 class="slug">Some Title</h2>
  <div class="content">
    <p class="first">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias facere, nam, tempora eos rem deleniti praesentium earum similique cum repudiandae, in voluptatum voluptas excepturi deserunt cupiditate temporibus, labore tenetur inventore!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum impedit deserunt eos cumque, ad quisquam at sit dolorum dicta ratione exercitationem vitae repudiandae incidunt, aliquam ipsam ullam a laudantium tempora!</p>
  </div>
</div>

<div class="post">
  <h2 class="slug">Some Title</h2>
  <div class="content">
    <p class="first">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias facere, nam, tempora eos rem deleniti praesentium earum similique cum repudiandae, in voluptatum voluptas excepturi deserunt cupiditate temporibus, labore tenetur inventore!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum impedit deserunt eos cumque, ad quisquam at sit dolorum dicta ratione exercitationem vitae repudiandae incidunt, aliquam ipsam ullam a laudantium tempora!</p>
  </div>
</div>

<div class="post">
  <h2 class="slug">Some Title</h2>
  <div class="content">
    <p class="first">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias facere, nam, tempora eos rem deleniti praesentium earum similique cum repudiandae, in voluptatum voluptas excepturi deserunt cupiditate temporibus, labore tenetur inventore!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum impedit deserunt eos cumque, ad quisquam at sit dolorum dicta ratione exercitationem vitae repudiandae incidunt, aliquam ipsam ullam a laudantium tempora!</p>
  </div>
</div>

<div class="notification">This is a notice</div>
<div class="error">This is an error</div>
<div class="success">This is success</div>






