<h1>Tell Me All Your Secrets</h1>

<div id="main"></div>

<script type="text/x-handlebars-template" id="appView">
  <div id="new-secret"></div>
  <ul id="secrets"></ul>
</script>

<script type="text/x-handlebars-template" id="newSecretTemplate">
  <form>
    <textarea rows=4 placeholder="Confess your secret anonymously..."></textarea>
    <button class="go">Shh...</button>
    <button class="stop">Stahhp</button>
  </form>
</script>

