<h2>Welcome to the homepage</h2>

<h3>Nothing about the Marx bros here at all</h3>

<form action="http://www.omdbapi.com/">
  <input type="search" name="t">
  <button>Lookup Movie</button>
</form>

<form>
  <input type="search" id="title">
  <button id="lookup">Lookup Movie</button>
</form>

<div id="result"></div>

<div>
  <h2>.getJSON example</h2>
  <button id="getJSON">getJSON</button>
  <div id="getJSONresult"></div>
</div>

<div>
  <h2>.load example</h2>
  <button id="load">load</button>
  <div id="loadresult"></div>
</div>