<html>
  <head>
    <title>Stock Lookup</title>
    <link rel="stylesheet" href="/stock.css">
  </head>

  <body>
    <!-- actual view is inserted below -->
    <div class="container">
      <h1>$$$$tock Lookup</h1>
      <%= yield %>
    </div>
  </body>
</html>