<h1>hello world</h1>

<div class="row">
  <div class="col-md-10 main">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam illum praesentium, soluta corrupti a amet quae corporis est placeat culpa, maxime hic obcaecati vel voluptatem quos voluptatibus veritatis quia qui!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga saepe magnam placeat delectus maxime voluptatem accusamus reprehenderit aliquid eum, excepturi, aliquam aut consectetur voluptatum, atque dolorem qui illo ad cumque!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil accusantium inventore dignissimos. Reprehenderit libero cumque voluptatibus quam, labore nobis dolores saepe omnis ducimus vel molestiae quos cupiditate dignissimos velit.</p>

    <div class="row">
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
    </div>

  </div>
  <div class="col-md-2 side">
    <ul>
      <%== nav_menu %>
    </ul>
  </div>
</div>