.container {
  max-width: 960px;
  margin: auto;
}

body {
  background-color: #ddd;
  margin: 0;
  padding: 0;
}

nav {
  background-color: green;
  padding: 1em;
}

nav a {
  color: white;
}

nav li {
  display: inline-block;
}

