body {
  background-color: #ccc;
}

.container {
  max-width: 960px;
  margin: auto;
}

img.butterfly, img.plant {
  max-width: 100%;
  border-radius: 1em;
  border: 1em solid black;
}

.controls a {
  color: orange;
}

nav {
  background-color: #888;
  padding: 0.5em;
  border-radius: 0.2em;
  text-align: right;
}

nav ul {
  padding-left: 0;
}

nav li {
  display: inline-block;
}

nav a {
  color: white;
}
