<h2>Create a receipt</h2>
<form action="/" method="post">
  <label for="client">Client: </label>
  <input type="text" id="client" name="client">

  <label for="service">Service: </label>
  <input type="text" id="service" name="service">

  <label for="cost">Cost: $</label>
  <input type="number" id="cost" name="cost">

  <input type="submit" value="Create receipt">
</form>