// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  background-color: #000f00;
  color: #0f0;
}

.box {
  width: 4em;
  height: 4em;
  display: inline-block;
  border: 1px dotted #0f0;
  text-align: center;
  line-height: 4em;
  margin: 0.1em;
}

section {
  text-align: center;
}

#toggle {
  background-color: red;
}

#toggle.active {
  background-color: green;
}
