<section>
  <select name="flavour" id="flavour">
    <option>Chocolate</option>
    <option>Salted Caramel</option>
  </select>

  <button id="makeSundae">Make sundae</button>
</section>

<section>
  <button id="erratic">Behave oddly</button>
</section>

<section>
  <button id="toggle" class="active">Toggle</button>
</section>

