html, body {
  background-color: #bbe;
}

.container {
  max-width: 960px;
  margin: auto;
}

textarea {
  display: block;
  margin: auto;
  width: 80%;
}

button {
  display: block;
  margin: 1em auto;
  width: 81%;
  padding: 1em;
}
