<h1>Flickr Search</h1>

<div>
  <%= text_field_tag 'query', nil, :autofocus => true, :placeholder => 'Butterflies...' %>
  <%= button_tag 'Search', :id => 'search' %>
</div>

<div id="images"></div>

<%= button_tag 'Load more', :id => 'load_more' %>