<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Butterflies Database</title>
  <link rel="stylesheet" href="/css/butterflies.css">
</head>
<body>

  <div class="container">

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/butterflies">Butterflies</a></li>
        <li><a href="/butterflies/new">New butterfly</a></li>
      </ul>

      <ul>
        <li>Families: </li>
        <% @families.each do |group| %>
          <li>
            <a href="/butterflies/family/<%= group["family"] %>">
              <%= group["family"] %>
            </a>
          </li>
        <% end %>
      </ul>
    </nav>

    <%= yield %>
  </div>

</body>
</html>