<h2>New plant</h2>

<form action="/plants" method="post">
  <label for="name">Name:</label>
  <input id="name" name="name">

  <label for="image">Image:</label>
  <input id="image" name="image" type="url">

  <input type="submit" value="Create plant">
</form>